*	{
    box-sizing: border-box;
}

header	{
    background-color: #000080;
    color: white;
}

div#divhead {
    padding: 2%;
}

section#consect {
    padding-bottom: 40%;
}

nav#navcon 	{
        float: left;
        background-color: white;
        border-radius: 16px;
        padding: 3% 1% 37% 2%;
/* This padding styling represents top, right, bottom, left. */
        width: 30%;
        height: 300px;
        color: #000080;
    }

    nav#navcon input {
        border: 2px solid #000080;
        border-radius: 6px;
        padding: 1% 18% 3% 1%;
        background-color: whitesmoke;
    }

    nav#navcon input#consub {
        background-color: #000080;
        color: white;
        width: 100%;
        margin-top: 4%;
    }

    textarea    {
        width: 100%;
        border: 2px solid #000080;
        border-radius: 12px;
        padding: 7% 16% 20% 4%;
        color: #000080;
        background-color: whitesmoke;
        resize: none;
    }

    .conhead {
        text-align: center;
        color: #000080;
    }

    .conart div {
     float: left;
     text-align: justify;
     margin: 3% 0% 0% 2%;
    }

article.artcon	{
    float: left;
    background-color: white;
    padding: 20px;
    padding-bottom: 38%;
    width: 21%;
    height: 300px;
    margin-left: 2%;
    text-align: justify;
    color: black;
}